.container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sec {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70%;
  width: 30%;
  border-radius: 5px;
  padding: 0 5rem;
  position: relative;
  /* overflow: hidden; */
}

.logo {
  height: 5rem;
  position: absolute;
  inset: 0 auto auto 50%;
  transform: translate(-50%);
}

.buttom-txt-ctn {
  position: absolute;
  color: white;
  inset: auto auto 1rem 50%;
  transform: translate(-50%);
  font-size: 1.8rem;
  text-align: center;
}

.p {
  cursor: pointer;
}
