.container-main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.container-sec {
  width: 100%;
}

.enter {
  transform: translateY(100%);
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2;
}

.exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.2;
}
